<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" metadata-complete="false" version="3.0">
	<display-name>ctdss01</display-name>
	<welcome-file-list>
		<welcome-file>myindex.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cn.ctdss.lr.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/index/core/ucenter.jsp</url-pattern>
		<url-pattern>/index/core/profile.jsp</url-pattern>
		<url-pattern>/index/core/mybox.jsp</url-pattern>
		<url-pattern>/index/core/myvcard.jsp</url-pattern>
		<url-pattern>/index/core/create_mashup_traditional.jsp</url-pattern>
		<url-pattern>/index/core/acreate_data_service_wrapper.jsp</url-pattern>
		<url-pattern>/index/core/amanage_users.jsp</url-pattern>
		<url-pattern>/index/core/amanage_dataservices.jsp</url-pattern>
		<url-pattern>/index/Navigator/about/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>EncodingFileter</filter-name>
		<filter-class>cn.ctdss.lr.filter.EncodingFileter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFileter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>cn.ctdss.lr.utils.TaskManager</listener-class>
	</listener>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/TestServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AutoImg</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.AutoImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoImg</servlet-name>
		<url-pattern>/autoImg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExcelRestServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.ExcelRestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExcelRestServlet</servlet-name>
		<url-pattern>/ExcelRestServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddEmpServlet</servlet-name>
		<servlet-class>wlh.web.test.AddEmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmpServlet</servlet-name>
		<url-pattern>/addEmpServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>APIServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.APIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APIServlet</servlet-name>
		<url-pattern>/APIServlet/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>APPS</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.APPS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APPS</servlet-name>
		<url-pattern>/apps/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>APPCateServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.APPCateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>APPCateServlet</servlet-name>
		<url-pattern>/appCateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CountServlet</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.CountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountServlet</servlet-name>
		<url-pattern>/countServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Createdata</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.Createdata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Createdata</servlet-name>
		<url-pattern>/Createdata</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<context-param>
		<param-name>listings</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>TrafficFlow</display-name>
		<servlet-name>TrafficFlow</servlet-name>
		<servlet-class>cn.ctdss.lr.servlet.TrafficFlow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TrafficFlow</servlet-name>
		<url-pattern>/TrafficFlow</url-pattern>
	</servlet-mapping>
</web-app>